---
jobs:
  publish:
    name: Publish
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: MattKobayashi/actions-workflows/.github/workflows/publish.yaml@6770ac44f4019b59c3da45c47702d0077354027f # v1.3.0
    with:
      image-name: nbnchecker
name: Publish
on:
  release:
    types:
      - published
  workflow_dispatch:
permissions:
  contents: read
